<!DOCTYPE HTML>
<html>
<head>
  {% block head %}
    <meta charset="utf-8">

    <!--   Core CSS Files   -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('bundles/bgbill/css/becogestion-bill.css') }}" type="text/css" />

  {% endblock %}
</head>
<body>
  <div class="container">
  </br></br>
    <p class="small">
      Réserve de propriété : Tous les plans, carnets divers, notes de calcul et tout autre document réalisés par BE.CO.FER sont et restent sa propriété jusqu'à paiement complet et définitif de ceux ci ; notre société se réservant la possibilité de les reprendre en cas de défaut de paiement</br>
      Délai de révision : Passé un délai de 8 jours (ouvrables), nos factures et leurs conditions de règlement sont réputées acceptées par le client.</br>
      Litige : En cas de litige, seul le tribunal de commerce de MELUN sera compétent.</br>
      Le montant de l'indemnité forfaitaire pour frais de recouvrement due au créancier en cas de retard de paiement, conformément à l'article 121-II de la loi n° 2012-387 du 22 mars 2012 est fixée à 40 € par le décret n° 2012-1115 du 2 octobre 2012.
    </p>
    <hr>
    <p class="medium" align="center">
      S.A.R.L. au capital de 8855 Euros
      R.C.S MELUN 452 782 717 - APE 7112B - SIRET 452 782 717 00048
      N° TVA Intracommunautaire : FR 30452782717
    </p>
  </div>
</body>
<html>
