{% extends "BGCoreBundle::layout.html.twig" %}

{% block body %}

  {{ include('BGCoreBundle::menu.html.twig', { 'route': 'BG_CoreBundle_home', 'parameters': {}  }) }}

  <div class="container card wizard-card" data-color="blue">

    <div class="wizard-header">
      <h3 class="wizard-title">{{ title }}</h3>
      <hr>
    </div>

      <div class="well">
        <div class="row">
          {{ form(form) }}
        </div>
      </div>

  </div>

  {{ parent() }}

{% endblock %}
