@font-face {
    font-family: Dense;
    src: url('../fonts/Dense-Regular.otf');
}

@font-face {
    font-family: Proxima;
    src: url('../fonts/Proxima.ttf');
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: Lato;
    src: url('../fonts/Lato-Thin.ttf');
}

html, body {
  font-size: 100%;
  background-image: url('../imgs/bg.png');
  background-attachment: fixed;
  font-family: Roboto;
  background-size: cover;
  color: white;
  height: 100%;
}

.container {
  margin-bottom:2vh;
}

#bg_corebundle_quote_services_ > .form-group {
  background-color: #f1f1f1;
  box-shadow: 0 2px 4px 0;
  margin:2vh !important;
}

.row {
  width:100%;
}

.form-group, .control-label  {
  padding:0 !important;
  margin:0 !important;
}

.wizard-title {
    margin-bottom:1vh !important;
}

h3 {
  font-size: 10vh;
  font-family: Dense;
  text-align: center;
  color: #fff;
}

h1, h2, h2.form-signin-heading {
  font-size: 7em;
  font-family: Dense;
}

 h2 {
   text-align: left;
   color: white;
 }

 .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
   vertical-align: middle;
   text-align: center;
 }

.fa.fa-paper-plane, .fa.fa-eye, .fa.fa-pencil-square-o, .fa.fa-envelope, .fa.fa-times, .fa.fa-cog {
  font-size: 2.5vh;
  margin: 1vh;
  color:#222222;
}

.fa.fa-sign-out {
  font-size: 2.5vh;
  margin: 1vh;
  color:#ECF0F1;
}

.fa.fa-sign-out:hover {
  color: #fff;
}

.fa.fa-paper-plane:hover, .fa.fa-eye:hover, .fa.fa-pencil-square-o:hover, .fa.fa-envelope:hover, .fa.fa-times:hover, .fa.fa-cog:hover {
  color: black;
}
