{% extends "BGCoreBundle::layout.html.twig" %}

{% block body %}

  <div class="container-fluid card wizard-card" data-color="blue">

    <h3 class="wizard-title">Gestion des clients</h3>
    <hr>

    <div class="well">
      <h4 class="wizard-title">Ajouter un client</h4>
      <hr>
      <a class="a-white row btn btn-info" href="{{ path('BG_CustomerBundle_new') }}"><i class="fa fa-plus" aria-hidden="true"></i> Ajouter</a>
    </div>

    <div class="well">
      <h4 class="wizard-title">Modifier un client</h4>
      <hr>
      {{ form(form) }}
    </div>
  </div>

  {{ parent() }}

{% endblock %}
