<!DOCTYPE HTML>
<html>
  <head>
    {% block head %}
      <meta charset="utf-8">
      <title>{% block title %}BecoGestion{% endblock %}</title>

      <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link type="text/css" rel="stylesheet" href="http://localhost/BecoGestion/web/css/bootstrap.min.css">
      <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
      <link type="text/css" rel="stylesheet" href="http://localhost/BecoGestion/web/css/material-bootstrap-wizard.css">
      <link type="text/css" rel="stylesheet" href="http://localhost/BecoGestion/web/css/style.css">
      <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    {% endblock %}
  </head>

  <body>
    {% block body %}

      {% block scripts %}
        <!--   Core JS Files   -->
        <script type="text/javascript" src="http://localhost/BecoGestion/web/js/jquery-2.2.4.min.js"></script>
        <script type="text/javascript" src="http://localhost/BecoGestion/web/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="http://localhost/BecoGestion/web/js/jquery.bootstrap.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>

        <!--  Plugin for the Wizard -->
        <script type="text/javascript" src="http://localhost/BecoGestion/web/js/material-bootstrap-wizard.js"></script>

        <script type="text/javascript" src="http://localhost/BecoGestion/web/js/jquery.validate.min.js"></script>

        <script type="text/javascript" src="http://localhost/BecoGestion/web/js/BecoGestion.js"></script>
      {% endblock %}

    {% endblock %}
  </body>
</html>
