<!DOCTYPE HTML>
<html>
  <head>
    {% block head %}
      <meta charset="utf-8">
      <title>{% block title %}BecoGestion{% endblock %}</title>

      <!--   Core CSS Files   -->
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />

      {% stylesheets filter='cssrewrite, ?scssphp'
      'bundles/bgcore/css/becogestion.css'
      'bundles/bgcore/css/select2.min.css'
      'bundles/bgcore/css/material-bootstrap-wizard.css'
      %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
      {% endstylesheets %}

    {% endblock %}
  </head>

  <body>
    {% block body %}

    <div class="flash">
      {% for flash_message in app.session.flashBag.get('notice') %}
          <div class="alert alert-success">
              {{ flash_message }}
          </div>
      {% endfor %}
    </div>

      {% block scripts %}
        <!--   Core JS Files   -->
        <script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.full.min.js"></script>

        {% javascripts filter='jsqueeze'
        'bundles/bgcore/js/becogestion.js'
        'bundles/fosjsrouting/js/router.min.js'
        'bundles/tetranzselect2entity/js/select2entity.js'
        %}
          <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

      {% endblock %}

    {% endblock %}
  </body>
</html>
