<header>
  <nav>
    <div class="row">
      <div class="col d-flex justify-content-start"><a href="{{ path("BG_CoreBundle") }}"><i class="fas fa-home" aria-hidden="true"></i></a></div>
      <div class="col d-flex justify-content-end"><a href="{{ path("fos_user_security_logout") }}"><i class="fas fa-sign-out-alt" aria-hidden="true"></i></a></div>
    </div>
  </nav>
</header>
