{% extends "BGCoreBundle::layout.html.twig" %}

{% block body %}

      {% block fos_user_content %}

        <div class="d-flex container align-items-center justify-content-center" style="height:100%;">
            <div class="card wizard-card" style="padding: 5vh;" data-color="blue">
                <h1 class="row justify-content-center form-signin-heading">BECO GESTION</h1>
                {% include "BGUserBundle:Security:login_content.html.twig" %}
            </div>
        </div>

      {% endblock fos_user_content %}

  {{ parent() }}

{% endblock %}
