h6 {
   margin:0;
 }

.margin-box {
  margin-top: 200px !important;
}

thead, tfoot {
  display: table-row-group;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
   vertical-align: middle;
   text-align: center;
 }
